In [2]:
notes = 5
i = 1
while i < notes:
    print(i)
    i+=1
else:
    print("No 10rs notes are available")

1
2
3
4
No 10rs notes are available

In [3]:
s = "shridhar"
s[4]

'd'

In [4]:
s

'shridhar'

In [6]:
s[0]

's'

In [11]:
s = "my name is shridhar"
s[3:10]

'nm s'

In [12]:
s[3:10:2]

'nm s'

In [15]:
s[18:0:-1]

'rahdirhs si eman y'

In [16]:
s

'my name is shridhar'

In [17]:
len(s)

19

In [20]:
s[19:0:-1]

'rahdirhs si eman y'

In [21]:
s

'my name is shridhar'

In [22]:
s[::-1]

'rahdirhs si eman ym'

In [24]:
s[2:-6]

' name is sh'

In [25]:
x="raja"
x[-1]

'a'

In [26]:
x[-2]

'j'

In [27]:
x[-4]

'r'

In [28]:
s

'my name is shridhar'

In [29]:
s[2:-6]

' name is sh'

In [30]:
s

'my name is shridhar'

In [31]:
for i in s:
    print(i)

m
y

n
a
m
e

i
s

s
h
r
i
d
h
a
r

In [33]:
for i in s:
    print(i)
    if i== "a":
        print("I got a in string")

m
y

n
a
I got a in string
m
e

i
s

s
h
r
i
d
h
a
I got a in string
r

In [34]:
s

'my name is shridhar'

In [41]:
for i in s:
    if i=="k":
        break
    print(i)
else:
    if i=="d":
        print("This is an else condition")

m
y

n
a
m
e

i
s

s
h
r
i
d
h
a
r

In [42]:
for i in s:
    if i=="n":
        continue
    print(i)
else:
    if i=="d":
        print("This is an else condition")

m
y

a
m
e

i
s

s
h
r
i
d
h
a
r

In [44]:
s

'my name is shridhar'

In [50]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("+ ", end ="")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [58]:
n = 7
for i in range(0,n):
    for j in range(0,i+1):
        print("x", end=" ")
    print("\r")

x
x x
x x x
x x x x
x x x x x
x x x x x x
x x x x x x x

In [62]:
range(3)

range(0, 3)

In [64]:
for i in range(3):
    print(i)

0
1
2

In [65]:
for i in range(4,8):
    print(i)

4
5
6
7

In [69]:
for i in range(8,4,-1):
    print(i)

8
7
6
5

In [71]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [80]:
n = int(input("enter the number of rows required: "))

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='')
        
    for j in range(2*i-1):
        print('*', end='')
    print()

enter the number of rows required: 7
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [79]:
n = int(input('Enter number of rows required: '))

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='') 
    
    for j in range(2*i-1):
        print('*',end='') 
    print()

Enter number of rows required: 7
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [83]:
n = 9
i = 0
while i<n:
    print(' '*(n-i-1) + '* '*(i+1))
    i+=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [84]:
name = "Shridhar"
PHno = 9986514230
addr = "h no 600, math galli belgaum"

In [85]:
addr

'h no 600, math galli belgaum'

#list

In [94]:
l =["raj",75577, "shridhar", True, 5+5j] 
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [87]:
l

['raj', 75577, 'shridhar']

In [88]:
l[0]

'raj'

In [89]:
type(l)

list

In [90]:
l1=[]

In [91]:
type(l1)

list